<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="bg-dark" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <p class="list-group-item list-group-item-action bg-dark p-3 text-warning" style="font-family: Montserrat; font-weight: 900;">
                TODO APP
            </p>
            <br>
            <br>
            <a class="list-group-item list-group-item-action bg-dark p-3 text-light" th:href="@{/review}">REVIEW</a>
            <a class="list-group-item list-group-item-action bg-dark p-3 text-light" th:href="@{/create}">CREATE</a>
            <a class="list-group-item list-group-item-action bg-dark p-3 text-light" th:href="@{/viewCompleted}">COMPLETED</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="btn btn-warning" id="sidebarToggle" style="font-family: Montserrat;
                        font-weight: 500;">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link text-warning" th:href="@{/home}">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-warning" th:href="@{/logout}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid m-4">
            <h1 class="mt-4" style="font-family: Montserrat; font-weight: 900;">COMPLETED</h1>
            <p class="mb-2">Here you can find all your previously completed TODOS</p>
            <ul th:each="list: ${lista}">
                <li>
                    <p class="h2 text-warning" th:text="${list.title}"></p>
                    <p th:text="${'Creation Date: ' + list.createdDate}"></p>
                    <p th:text="${'Due Date: ' + list.dueDate}"></p>
                    <p th:text="${'Completed on: ' + list.completedOn}"></p>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
